{% extends 'index.html' %}

{% block title %}Order Page {% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="action-buttons">
    {% if not orderno %}
    <button type ='button' class = 'btn btn-success btn-lg' id='SubmitTotable'>Submit</button>
    {% else %}
    <button type ='button' class = 'btn btn-success btn-lg' id='UpdateTable'>Update Order</button>
    {% endif %}
    <a class="btn btn-default btn-lg" href = '/billing/final-bill/{{orderno}}'>Generate Final Bill</a>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <!-- Select Basic -->
          <div class="form-group">
            <label class="control-label" for="selectbasic">Category</label>
            <select style="min-height:30vh;" id="category-box-list" name="selectbasic" class="form-control" multiple = 'multiple'></select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label" for="Item">Item</label>
            <select id="Item-box-list" name="Item" class="form-control" multiple = 'multiple'></select>
          </div>
        </div>
        {% if not table_number %}
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label" for="table">Table</label>
            <select id="tableBill" name="table" class="form-control" multiple = 'multiple'></select>
          </div>
        </div>
        {% endif %}
      </div>
    </div><!-- col-md-4 -->
    <div class="col-md-3 well">
      <form class="form-horizontal">

        {% if orderno %}
        <h1> Order Number : <span id = 'ordno'>{{orderno}}</span></h1>
        <h1> Table Number : <span id = 'tblno'>{{table_number}}</span></h1>
        {% endif %}
      </form>

      <form class="form-horizontal" id= 'Order-Details'>
      <fieldset>

      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="OrderItem">Item</label>
        <input id="OrderItem" name="OrderItem" placeholder="Margerita" class="form-control input-md" required="" type="text">
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="OrderItem">Quantity</label>
        <input id="OrderQuantity" name="OrderQuantity" placeholder="1000" class="form-control input-md" required="" type="text">
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="OrderRate">Rate</label>
        <input id="OrderRate" name="OrderRate" placeholder="" class="form-control input-md" required="" type="text">
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="OrderTotalPerItem">Total</label>
        <input id="OrderTotalPerItem" name="OrderTotalPerItem" placeholder="" class="form-control input-md" required="" type="text">
      </div>

      <!-- Button -->
      {% if not orderno %}
      <div class="form-group">
        <label class="control-label" for="OrderPlace"></label>
        <div class="">
          <button id="OrderPlace" name="OrderPlace" class="btn btn-primary btn-block">Add</button>
        </div>
      </div>
      {% else %}
      <div class="form-group">
        <label class="control-label" for="OrderPlace"></label>
        <button id="OrderUpdate" name="OrderUpdate" class="btn btn-primary">Update</button>
      </div>

      {% endif %}

      </fieldset>
      </form>

    </div>
    <div class="col-md-5">
      <table class="table table-bordered" id='order-table'>
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Total</th>
            <th>Delete</th>
            </tr>
        </thead>
        <tbody id ='BillList'>
          {% if orders %}
          {% for order in orders %}
          <tr>
          <td>{{order.item}}</td>
          <td>{{order.quantity}}</td>
          <td>{{order.rate}}</td>
          <td class ='total'>{{order.totalperitem}}</td>
          <td id = 'deleterow'><button type = 'button'>Delete</button></td>
          {% endfor %}
          {% endif %}
        </tr>
        </tbody>


        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
