{% extends 'index.html' %}

{%block title %} create tables and categories {% endblock %}

{% block content %}

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Category Creator</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="categories">Enter your categories</label>
  <div class="col-md-4">
  <input id="categories" name="categories" placeholder="" class="form-control input-md" required="" type="text">
  <button type = 'button' id = 'create-category' class = 'btn btn-primary'>Create</button>
  </div>
</div>

</fieldset>
</form>
<table id="category-table" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Category</th>
            </tr>
        </thead>
        <tbody id='list'>
    </table>

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Create Tables</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="table">Create tables</label>
  <div class="col-md-4">
  <input id="table" name="table" placeholder="" class="form-control input-md" required="" type="text">
  <button type = 'button' id = 'create-table' class = 'btn btn-primary'>Create</button>
  </div>
</div>

</fieldset>
</form>
<table id="tables-table" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Table</th>
            </tr>
        </thead>
        <tbody id='table-list'>
    </table>

<hr/>

<legend>Discount Table</legend>
<form>
  <div class="form-group">
    <label for="discount_name">Discount Name</label>
    <input type="text" class="form-control" id="discount_name" placeholder="50% off">
  </div>
  <div id="radio_for_discount_type">
    <label>
      <input type="radio" name="optionsRadios" id="discount_flat" value="F" checked>
      Flat Discount ( Eg. 200 Rs. off)
    </label>
    <label>
      <input type="radio" name="optionsRadios" id="discount_percentage" value="P">
      Percentage Discount (Eg. 50% off)
    </label>
  </div>
  <div class="form-group">
    <label for="discount_value">Discount Value</label>
    <input type="text" id="discount_value" placeholder = "Enter Percentage/Flat Amount">
  </div>
  <div class="checkbox" >
    <label>
      <input type="checkbox" id="discount_status"> Live
    </label>
  </div>
  <button type="button" class="btn btn-default" id="discount-submit">Submit</button>
</form>

<table id="discounts-table" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Discount</th>
                <th>Discount Type</th>
                <th>Discount Value</th>
                <th>Discount Status</th>
            </tr>
        </thead>
        <tbody id='discount-list'>
    </table>

<hr/>
<legend>Tax Table</legend>
<form>
  <div class="form-group">
    <label for="Tax_detail">Tax Detail</label>
    <input type="text" class="form-control" id="Tax_detail" placeholder="VAT">
  </div>
  <div class="form-group">
    <label for="Tax_percentage">Percentage</label>
    <input type="text" class="form-control" id="Tax_percentage" placeholder="12.36">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" id = "tax-status"> Live
    </label>
  </div>
  <button type="button" class="btn btn-default" id="tax-submit">Submit</button>
</form>

<table id="tax-table" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Tax Detail</th>
                <th>Percentage</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody id='tax-list'>
    </table>

{% endblock %}
