{% extends 'index.html' %}

{% block title %}Create Items {% endblock %}

{% block content %}
<h1>Create</h1>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="category">Category</label>
  <div class="col-md-4">
  <!-- <input id="category" name="category" placeholder="" class="form-control input-md" required="" type="text"> -->
  <select name = 'category' id ='category-box'>

  </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Items">Item</label>
  <div class="col-md-4">
  <input id="Items" name="Items" placeholder="" class="form-control input-md" required="" type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Rate">Rate</label>
  <div class="col-md-4">
  <input id="Rate" name="Rate" placeholder="" class="form-control input-md" required="" type="text">

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="create"></label>
  <div class="col-md-4">
    <button id="create" name="create" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>

<hr/>

<table id="items-table" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Category</th>
                <th>Item</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody id='item-list'>
        </tbody>
    </table>


{% endblock %}
