{% extends 'index.html' %}

{% block title %} Final Bill {% endblock %}

{% block content %}

<h1> Final Bill : <span id = 'ordernoforfinal'>{{orderno}}</span> </h1>
<h1> Table Number : <span id = 'tblnoforfinal'>{{table_number}}</span></h1>


<table class="table table-bordered" id='table-bill'>
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Total</th>
      </tr>
  </thead>
  <tbody id ='FinalBillList'>
    {% if orders %}
    {% for order in orders %}
    <tr>
    <td>{{order.item}}</td>
    <td>{{order.quantity}}</td>
    <td>{{order.rate}}</td>
    <td class ='totalfinal'>{{order.totalperitem}}</td>
    {% endfor %}
    {% endif %}
  </tr>
  </tbody>


  </table>

  <hr/>
  <div class = 'row'>
  <div class = 'col-md-2'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Total</h3>
      </div>
      <div class="panel-body" id='final-bill-amount'>
        {{total_bill_amount}}
      </div>
    </div>
  </div>
  </div>

  <h1> Taxes</h1>

  {% if taxes %}
  {% for tax in taxes %}
  <h4> {{tax.tax_detail}}..................{{tax.tax_percentage}}%</h4>
  {% endfor %}
  {% endif %}

  <div class = 'row'>
  <div class = 'col-md-2'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Total after tax</h3>
      </div>
      <div class="panel-body" id='taxed-bill-amount'>
        {{taxed_amount}}
      </div>
    </div>
  </div>
</div>

{% if discounts %}

<div class = 'row'>
<div class="form-group">
  <label class="col-md-4 control-label" for="discount-list">Discounts</label>
  <div class="col-md-4">
    <select id="discount-list" name="selectbasic" class="form-control" >
      {% for disc in discounts %}
      <option value = {{disc.pk}}>{{disc.discount_name}}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class = 'col-md-4'>
<button type = 'button' class = 'btn btn-primary' id='apply-discount'>Apply Discount</button>
</div>
</div>
{% endif %}


<hr/>
<div class = 'row'>
<div class = 'col-md-2'>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Total after tax and Discount</h3>
    </div>
    <div class="panel-body" id='final-billed-amount'>{{taxed_amount}}</div>
  </div>
</div>
</div>

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Payment Mode</legend>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Payment Modes">Payment Modes</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="Payment Modes-0">
      <input name="Payment Modes" id="Payment-Modes-0" value="1" type="checkbox">
      Cash
    </label>
    <label class="checkbox-inline" for="Payment Modes-1">
      <input name="Payment Modes" id="Payment-Modes-1" value="2" type="checkbox">
      Credit Card
    </label>
    <label class="checkbox-inline" for="Payment Modes-2">
      <input name="Payment Modes" id="Payment-Modes-2" value="3" type="checkbox">
      Line of Credit
    </label>
  </div>
</div>

<!-- Text input-->
<div class="form-group" id='cashamount'>
  <label class="col-md-4 control-label" for="cashamt">Cash Amount</label>
  <div class="col-md-4">
  <input id="cashamt" name="cashamt" placeholder="" class="form-control input-md" type="text">

  </div>
  <div class = 'col-md-4'>
    <input type ='checkbox' id='full-cash' >Full Amount
    </div>
</div>

<!-- Text input-->
<div class="form-group" id='cardamount'>
  <label class="col-md-4 control-label" for="cardamt">Card Amount</label>
  <div class="col-md-4">
  <input id="cardamt" name="cardamt" placeholder="" class="form-control input-md" type="text">
  <div class = 'col-md-4'>
    <input type ='checkbox' id='full-card' >Full Amount
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group" id='creditlineamount'>
  <label class="col-md-4 control-label" for="creditline">Credit Line</label>
  <div class="col-md-4">
  <input id="creditline" name="creditline" placeholder="" class="form-control input-md" type="text">

  </div>
</div>

<!-- Prepended text-->
<div class="form-group" id='balanceamount'>
  <label class="col-md-4 control-label" for="balanceamt"></label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">Balance</span>
      <input id="balanceamt" name="balanceamt" class="form-control" placeholder="" type="text">
    </div>
    <div class="input-group">
      <span class="input-group-addon">Name</span>
      <input id="creditname" name="creditname" class="form-control" placeholder="" type="text">
    </div>
  </div>
</div>

</fieldset>
</form>


<button type ='button' id = 'printfinal' class = 'btn btn-primary'>Settle</button>

{% endblock %}
