{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Cafe Home Pitch</a>
      </div>
      <ul class="navbar-nav nav">
        <li><a href = '{% url 'items' %}'>Create Items</a></li>
        <li><a href = '{% url 'live-orders' %}'> Live Order </a></li>
        <li><a href = '{% url 'generate-order' %}'> Place Order </a></li>
      </ul>
    </nav>

  <div class="container">

  {% block content %}

  {% endblock %}
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src = '/static/js/categories.js'></script>
    <script src = '/static/js/tables.js'></script>
    <script src = '/static/js/create-items.js'></script>
    <script src = '/static/js/place-order.js'></script>
    <script src = '/static/js/jquery.tabletojson.js'></script>
    <script src = '/static/js/live-orders.js'></script>
    <script src = '/static/js/order-detail.js'></script>
    <script src = '/static/js/final-bill.js'></script>
    <script src = '/static/js/discounts.js'></script>
    <script src = '/static/js/tax.js'></script>
  </body>
</html>
