{% extends 'index.html' %}

{% block title %}Live Order {% endblock %}

{% block content %}

<table class='table table-bordered'>
  <thead>
    <tr>
      <td>Order Number</td>
      <td>Table Number</td>
    </tr>
  </thead>
  <tbody id ='live-order-list'>



  </tbody>
</table>

{% endblock %}
